* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  display: inline-block;
}

body {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 300;
}

.white {
  color: #fff !important;
}

header {
  width: 95%;
  margin: auto;
  padding: 10px 30px;
  height: 80px;
}

header li:last-child {
  padding: 0px 20px;
  background-color: #61ce4e;
  border-radius: 5px;
}

header .logo img {
  width: 150px;
  vertical-align: middle;
  float: left;
}

header .nav-container {
  float: right;
}

header .nav-container a {
  line-height: 48px;
  color: #1b3c59;
  text-transform: uppercase;
  margin: 0 30px;
  padding: 2px 2px 20px 0;
}

header .nav-container a:hover {
  border-bottom: 2px solid #61ce4e;
}

header .hamburger-menu {
  float: right;
  font-size: 25px;
  color: #1b3c59;
  display: none;
  margin-top: 7px;
}

@media all and (max-width: 1400px) {
  .logo {
    position: relative;
  }

  .logo img {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-container {
    display: none;
  }

  .hamburger-menu.active {
    display: block;
  }
}

footer {
  background-color: #1b3c59;
  padding: 150px 0;
  color: white;
}

footer .upper-footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  width: 60%;
  margin: auto;
}

footer .upper-footer .footer-logo {
  display: flex;
  flex-direction: column;
}

footer .upper-footer .footer-logo span {
  font-size: 13px;
}

footer .upper-footer .footer-logo img {
  width: 150px;
  margin-bottom: 10px;
}

footer .upper-footer .info ul li {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0;
}

footer .upper-footer .info ul li a {
  color: #fff;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
  padding: 80px 0;
}

.hero .hero-title {
  max-width: 650px;
  color: #1b3c59;
}

.hero .hero-title p {
  font-size: 22px;
}

.hero .hero-title strong {
  font-weight: 500;
}

.hero .hero-title ul li {
  font-size: 18px;
  margin: 5px 0;
}

.hero .hero-image img {
  width: 90%;
}

section {
  background-color: #1b3c59;
  margin-bottom: 100px;
}

section .fascetta {
  width: 1000px;
  margin: auto;
  padding: 80px 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

section .fascetta .testo {
  flex-basis: 300px;
  text-align: center;
}

section .fascetta .testo h3 {
  font-size: 45px;
  font-weight: 400;
}

section .fascetta .testo p {
  font-size: 22px;
}

main .privacy {
  width: 60%;
  margin: 100px auto;
}

main .privacy h1,
main .privacy h3 {
  margin: 20px 0;
}

main ul li {
  display: block;
}

main .contenitore {
  display: flex;
  justify-content: center;
}

main .contenitore h2 {
  font-weight: 400;
  font-size: 40px;
}

main .contenitore .sinistra {
  background-color: #e8ebf1;
  padding: 50px;
  flex-basis: 46%;
  color: #1b3c59;
}

main .contenitore .destra {
  background-color: #1b3c59;
  padding: 50px;
  flex-basis: 46%;
  color: #fff;
}

