footer {
    background-color: $primary_color;
    padding: 150px 0;
    color: white;

    .upper-footer {

        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        width: 60%;
        margin: auto;

        .footer-logo {
            display: flex;
            flex-direction: column;

            span {
                font-size: 13px;
            }
            img {
                width: 150px;
                margin-bottom: 10px;
            }
        }

        .info ul li {
            display: block;
            font-size: 20px;
            font-weight: 500;
            margin: 5px 0;

            a {
                color: #fff;
            }
        }
    }  
}

